body {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 25px 0px;
}
.body__form {
    padding: 10px;
    border: 2px solid;
    
}
.result img {
    max-width: 500px;
}
